{% extends "base.html" %} {% block title %}Statbook{% endblock %} {% block
content %}
<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

<h1 align="center">Stat Log</h1>

<table style="width: 100%">
  <tr>
    <th>GAME DATE</th>
    <th>MATCHUP</th>
    <th>STAT LINE</th>
    <th>VIDEO LINK</th>
  </tr>
  <ul class="list-group list-group-flush" id="statbook">
    {% for stat in user.statsnapshots %}
    <tr>
      <td>{{ stat.game_date }}</td>
      <td>{{ stat.team1 }} vs. {{ stat.team2 }}</td>
      <td>
        {{ stat.statline }}
        <button
          type="button"
          class="close"
          onClick="deleteStatsnapshot({{ stat.id }})"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </td>
      <td>
        <a href="{{stat.video}}" target="_blank" rel="noopener noreferrer"
          >{{stat.video}}</a
        >
      </td>
    </tr>
    {% endfor %}
  </ul>
  {% endblock %}
</table>
